 body{
  background-image: url('../img/fundoSeara2.png');
  background-size: cover;
 }

 .controller{
 	background: white;
 }

 .fundoSeara{
  background-image: url('../img/fundoSeara2.png');
  background-size: cover;
   
}
 
/* Link
-------------*/
ul li a{
  font-size: 20px; 

}

ul li a:hover{ 
  /* border : 2px solid white; */
  border-bottom: 3px solid white;

}

.slides{
  height: 400px;
  width: 100%;
}

table{
	 
}
