body{
    background: url(../img/fundo.jpg);
    background-size: cover;
}

.contH1{
	border: 3px solid yellow;
}
.linhaH1{
	
}
.colH1{
	text-align: center;
	color: white;
}

.containerPrincipal{
	border: 3px solid red;
	height: calc(100vh - 70px);
	display: flex; /*Aqui é pra flutuar */
	align-items: center; /*Aqui é pra ficar no center os itens que tem dentro da DIV */ 
	 
}

.linha{
	border: 3px solid blue;
	height: 410px; 
	padding: 30px 10px;
	background-color: rgba(63,54,67,0.8);: 
}

.colLabel{ 
	padding-top: 45px;
	padding-left: 40px;

	
	 
}
.colImg{
	display: flex;
	align-items: center; 
	padding-left: 65px;
}

.label{ 
	margin-top: 25px; 
	
}

.colInputs{
	padding-top: 100px;
}
.colInputs input[type="text"]{
	height: 45px;
	width: 386px;
	margin-bottom: 3px;
}

.colInputs input[type="password"]{
	height: 45px;
	width: 386px;
	margin-bottom: 3px;
}

.colInputs button{
	height: 40px;
	width: 386px;
	margin-top: 15px;
}
.btn{
	background-color: #02a1c1;
}

@media (-webkit-min-device-pixel-ratio: 1.25) and (max-width: 609px), (max-width: 609px) and (min-resolution: 120dpi){

	.colImg{
		display: none;
	
	}


}